:root {
  --grid-spacing-vertical: 1rem;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

main.padded {
  padding: 2rem;
}

/* .grid > div {
  margin-bottom: 10px;
}
.grid > div:last-child {
  margin-bottom: 0px;
} */
